{% extends "main.html" %}
{% block head %}
<title>Kontakt</title>
{% endblock %}
{% block content %}        
<div>
        <h2> Kontakt </h2>
        <p>
            
            <ul>
                <li>email: tomasz@madej.ovh</li>
                <li>telefon: 693178455</li>
            </ul> 
        </p>
        <form>
            <label>Tu możesz napisać do mnie</label>
            <input name="element"></input>
            <input type="submit"/>
        </form>        
        </div>
{% endblock %}
